.shippment-details {
  flex: 2;
  padding: 0 20px;
}

.shippment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shippment-info {
  color: #58585b;
  border-bottom: 1px solid #e6e6e6;
}

.shippment-map {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.shippment-map img {
  max-width: 450px;
  max-height: 450px;
  width: 100%;
  height: 100%;
}

.shippment-address {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.shippment-pickup p,
.shippment-delivery p {
  color: #58585b;
  font-weight: bold;
  padding-bottom: 15px;
}

.shippment-pickup,
.shippment-delivery {
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid #e6e6e6;
}

.transportation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid #e6e6e6;
}

.transportation h4 {
  text-transform: uppercase;
  color: #ccc;
}

.transportation p {
  line-height: 0;
  font-weight: bold;
}

.transportation-ratings {
  display: flex;
  justify-content: space-around;
  top: -5px;
  position: relative;
  font-weight: bold;
}

.transportation-type {
  display: flex;
  align-items: center;
  text-align: center;
}

.transportation-type span {
  font-size: 26px;
  color: #58585b;
  margin-right: 20px;
}

.badge {
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  background-color: #000;
  display: inline-block;
  margin-right: 10px;
  color: white;
}

.accessorial-wraper {
  display: flex;
}

.accessorial {
  max-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  line-height: 0;
}
.shipment-map-mobile {
  display: none;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .shippment-address,
  .shippment-delivery {
    display: flex;
    flex-direction: inherit;
  }
  .transportation,
  .transportation-ratings {
    display: block;
  }
  .shipment-map-desktop {
    display: none;
  }
  .shipment-map-mobile {
    display: block;
  }
}
